.radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #d1d5db;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

.radio-input:hover {
  border-color: #0069c2;
}

.radio-input:checked {
  border-color: #0069c2;
  background-color: #0069c2;
}

.radio-input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.radio-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 105, 194, 0.2);
}

.radio-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: #9ca3af;
}

.radio-input:disabled:checked {
  background-color: #9ca3af;
  border-color: #9ca3af;
} 